  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .cerebrum-container {
    width: 100%;
    height: 1000px;
  }

  mat-sidenav{
    background: #3f51b5;
  }

  .cerebrum-app-title, .cerebrum-app-icon{
    color: white
  }
