<mat-sidenav-container class="example-container" >
  <mat-sidenav [@onSideNavChange]="sideNavState ? 'open' : 'close'" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')"
  mode="side" opened>
    <mat-nav-list>
      <mat-list-item (click)="onSidenavToggle()">
        <mat-icon class="cerebrum-app-icon" mat-list-icon >home</mat-icon>
        <h4 class="cerebrum-app-title" matLine [@animateText]="linkText ? 'show' : 'hide'">SCIEX App Monitoring</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-nav-list>
     

      <mat-list-item (click)="navigate(cerebrumApp)" *ngFor="let cerebrumApp of cerebrumApps">
        <mat-icon class="cerebrum-app-icon" mat-list-icon>{{cerebrumApp.appIcon}}</mat-icon>
        <h4 class="cerebrum-app-title" matLine [@animateText]="linkText ? 'show' : 'hide'">{{cerebrumApp.appTitle}}</h4>
        <mat-divider *ngIf="cerebrumApp.appId == 5;"></mat-divider>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
    <div class="mask" *ngIf="showLoading">
      <i class="pei pei-spinner"></i>
    </div>
    <iframe seamless frameBorder="0" class="cerebrum-container" referrer="no-referrer" (load)="onLoad()" (onerror)="onLoad()" [src]="urlSafe" title="cerebrum app container"></iframe>
  
  </mat-sidenav-content>
</mat-sidenav-container>
