  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .cerebrum-container {
    width: 100%;
    height: 100vh;
  }

  mat-sidenav{
    background: #004964;
  }

  .cerebrum-app-title, .cerebrum-app-icon{
    color: white
  }
  
  .mask {
    position: absolute;
    width: 100%;
    height: calc(100% - 3.25rem);
    top: 3rem;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
  }
  .mask > .pei-spinner::before {
  font-size: 8rem;
    margin-top: 300px;
  }
  

  .pei {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-family: Arial;
  }
  
  .pei-spinner::before {
    content: "";
    vertical-align: text-bottom;
    display: inline-block;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    border: 0.1em solid rgba(217, 83, 79, 0.8);
    border-right-color: transparent;
    border-radius: 0.625em;
    animation: pei-infinite-spinning .75s linear infinite;
  }
  
  @keyframes pei-infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }